<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>org.localflow.LocalFlow</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/Resources/LocalAI/localflow-flowd</string>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.localflow.LocalFlow.flowd</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
</dict>
</plist>
