<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalFlowAppGroup</key>
	<string>$(LOCALFLOW_APP_GROUP)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree.ttf</string>
		<string>EBGaramond.ttf</string>
		<string>EBGaramond-Italic.ttf</string>
	</array>
</dict>
</plist>
